{% extends 'base.html.twig' %}

{% block title %}Tabulka klientů{% endblock %}
{% block body %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Křestní jméno</th>
                <th>Příjmení</th>
                <th>Telefon</th>
                <th>E-Mail</th>
                <th>Poslední úprava</th>
                <th>Akce <a href="{{ path('test_create') }}"><i class="fa fa-plus-circle"></i></a></th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.getId() }}</td>
                    <td>{{ client.getFirstName() }}</td>
                    <td>{{ client.getLastName() }}</td>
                    <td>{{ client.getPhoneNumber() }}</td>
                    <td>{{ client.getMailAddress() }}</td>
                    <td>{{ client.getLastModification()|date('j. n. Y H:i') }}</td>
                    <td>
                        <a href="{{ path('test_update', {'id': client.getId()}) }}"><i class="fa fa-pencil-alt"></i> Upravit</a>
                        <a href="{{ path('test_delete', {'id': client.getId()}) }}"><i class="fa fa-times"></i> Smazat</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}